<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>380845785679-tecoj519mbnhiis5al9501170l3k0q0n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.380845785679-tecoj519mbnhiis5al9501170l3k0q0n</string>
	<key>API_KEY</key>
	<string>AIzaSyCnK1opGahagd4d9JSzQ2MudgThP778eoI</string>
	<key>GCM_SENDER_ID</key>
	<string>380845785679</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.finwise</string>
	<key>PROJECT_ID</key>
	<string>finwise-54ef6</string>
	<key>STORAGE_BUCKET</key>
	<string>finwise-54ef6.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:380845785679:ios:bb8ed1f48df759ddd5a03a</string>
</dict>
</plist>